@charset "UTF-8";

/*START RESET*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    box-sizing: content-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    outline: 0 none;
}

body {
    line-height: 1;
    background: #fff;
    font-family: "Lato", sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*END RESET*/

.top-header {
    background: #3b3b3b;
    height: 45px;
}

.top-header .phone {
    display: inline-block;
}

.top-header .phone li {
    display: inline-block;
}

.top-header .phone a {
    color: #fff;
    padding-right: 25px;
    line-height: 45px;
    font-family: "Raleway", sans-serif;
}

.top-header .phone a:hover {
    color: #cddc39 !important;
}

.top-header .phone a span {
    color: #f6e946;
}

.top-header .search {
    display: inline-block;
    width: 260px;
    text-align: right;
}

.top-header .search input {
    display: none;
    width: 180px;
    border: 2px solid #cdcdcd;
    height: 18px;
    padding-left: 10px;
    margin-right: 5px;
    font-size: 12px;
}

.top-header .search i {
    color: #aeaeae;
}

.top-header .reg {
    float: right;
}

.top-header .reg li {
    display: inline-block;
    padding: 0 20px;
    color: #aeaeae;
}

.top-header .reg li:first-child a {
    color: #fff;
    text-transform: uppercase;
}

.top-header .reg li:first-child a i:before {
    margin-right: 5px;
    font-size: 21px;
    vertical-align: -3px;
}

.top-header .reg li:last-child,
.top-header .reg li:nth-last-child(2) {
    padding: 0;
}

.top-header .reg li:nth-last-child(3) {
    padding-left: 0;
    padding-right: 35px;
}

.top-header .reg li:nth-last-child(4) {
    padding-right: 5px;
}

.top-header .reg li:hover:nth-last-child(4) a,
.top-header .reg li:hover:nth-last-child(3) a {
    color: #fff !important;
}

.top-header .reg a {
    color: #aeaeae;
    line-height: 45px;
    font-family: "Raleway", sans-serif;
}

.top-header .reg a:hover {
    color: #cddc39 !important;
}

.bottom-header {
    background: #686868;
    height: 105px;
    position: relative;
}

.bottom-header .logo {
    margin-top: 18px;
    display: inline-block;
    margin-bottom: 28px;
}

.bottom-header .menu {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bottom-header .menu li {
    display: inline-block;
}

.bottom-header .menu li.active a {
    background: #cddc39;
    color: #3b3b3b;
}

.bottom-header .menu a {
    border-top: 3px solid transparent;
    color: #fff;
    height: 75px;
    padding: 0 21px;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    line-height: 54px;
}

.bottom-header .menu a:hover {
    border-color: #cddc39;
    text-decoration: none;
}

.bottom-header .menu a i {
    vertical-align: -2px;
}

.bottom-header .menu a i:before {
    margin-right: 12px;
    font-size: 23px;
}

.slider {
    min-height: 615px;
}

.slider img {
    width: 1920px;
    position: absolute;
    display: block;
    height: 615px;
    right: -15px;
}

.banner {
    min-height: 270px;
}

.banner img {
    width: 1920px;
    position: absolute;
    display: block;
    height: 270px;
    right: -15px;
}

.slider-text {
    margin-top: 176px;
}

.slider-text .title {
    line-height: 72px;
    font-size: 62px;
    color: #3b3b3b;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.slider-text .title-min {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 68px;
}

.banner-text {
    margin-top: 33px;
}

.banner-text h3 {
    font-size: 24px;
    font-weight: 400;
    color: #686868;
    margin-bottom: 68px;
    font-family: "Raleway", sans-serif;
}

.banner-text h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}

span.sline {
    background: -moz-linear-gradient(top, rgba(246, 233, 70, 0) 64%, #f6e946 65%, #f6e946 100%);
    background: -webkit-linear-gradient(top, rgba(246, 233, 70, 0) 64%, #f6e946 65%, #f6e946 100%);
    background: linear-gradient(to bottom, rgba(246, 233, 70, 0) 64%, #f6e946 65%, #f6e946 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f6e946', endColorstr='#f6e946', GradientType=0);
}

hr.sline {
    border-top: 2px solid #f6e946;
}

.content h3 {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #222;
    margin-top: 55px;
    margin-bottom: 37px;
}

.content a.title {
    font-size: 25px;
    color: #3b3b3b;
    margin-top: 18px;
    display: table;
}

.content a.title:hover {
    text-decoration: underline;
}

.content .text {
    font-size: 16px;
    padding-right: 15px;
    margin-top: 17px;
    line-height: 20px;
    text-align: justify;
}

.content .data {
    font-weight: 300;
    color: #3b3b3b;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
}

.content .data b {
    font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
}

.content ul {
    float: right;
    margin-top: 15px;
}

.content ul li {
    display: inline-block;
}

.content ul li:nth-child(2) {
    margin-left: 15px;
}

.content ul li:nth-child(2):after {
    content: '\f178';
    font-family: "FontAwesome";
    margin-left: 5px;
    font-size: 14px;
    color: #3b3b3b;
}

.content ul a {
    font-size: 15px;
    color: #3b3b3b;
}

.content ul a:hover {
    text-decoration: underline;
}

.content .research {
    font-size: 16px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    clear: both;
    float: right;
    margin-top: 8px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 90px;
}

.content .research:after {
    content: '\f178';
    font-family: "FontAwesome";
    margin-left: 5px;
    font-size: 14px;
    color: #3b3b3b;
}

.content.about {
    padding-bottom: 67px;
}

.content.about h4 {
    font-size: 24px;
    color: #222;
    font-family: "Open Sans", sans-serif;
    font-weight: 400px;
    margin-bottom: 10px;
}

.content.about p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-bottom: 33px;
    line-height: 24px;
    text-align: justify;
}

.content.contact {
    padding-bottom: 90px;
}

.content.contact h5 {
    font-size: 20px;
    font-weight: 400;
    color: #686868;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.content.contact label {
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #3b3b3b;
    margin-bottom: 15px;
}

.content.contact input {
    border: 2px solid #cdcdcd;
    height: 45px;
    padding-left: 15px;
    margin-bottom: 15px;
    width: 88%;
}

.content.contact input[type="submit"] {
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    color: #222;
    width: 145px;
    height: 45px;
    background: #cddc39;
}

.content.contact input[type="submit"]:hover {
    background: #f6e946;
}

.content.contact textarea {
    width: 88%;
    border: 2px solid #cdcdcd;
    height: 206px;
    margin-bottom: 27px;
}

.content.disclaimer {
    padding-bottom: 80px;
}

.content.disclaimer p {
    font-size: 18px;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 24px;
    text-align: justify;
    font-weight: 300;
}

.content.disclaimer p strong {
    font-weight: 600;
}

.content.disclaimer p:last-child strong {
    font-weight: 400;
}

.content.privacy {
    padding-bottom: 100px;
}

.content.privacy h4 {
    font-size: 24px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #222;
    margin-top: 25px;
}

.content.privacy p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 24px;
}

.content.privacy p.it {
    font-style: italic;
}

.content.privacy ul {
    margin-top: 10px;
    float: inherit;
}

.content.privacy ul li {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 24px;
    display: block;
    position: relative;
    padding-left: 20px;
    font-size: 15px;
}

.content.privacy ul li:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: relative;
    background: #222;
    display: inline-block;
    top: -3px;
    left: -20px;
}

.content.privacy ul li:nth-child(2) {
    margin-left: 0px;
}

.content.privacy ul li:nth-child(2):after {
    display: none;
}

.content.privacy p {
    margin-top: 10px;
    text-align: justify;
}

.content.research {
    padding-bottom: 0px;
}

.content.research h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 58px;
    margin-bottom: 23px;
}

.content.research img {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.content.research p {
    font-size: 16px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 24px;
    text-align: justify;
}

.content.research .other {
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    font-family: "Raleway", sans-serif;
}

.content.research h5 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #3b3b3b;
    margin-top: 25px;
    margin-bottom: 30px;
}

.content.research .button {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #222;
    width: 203px;
    height: 45px;
    background: #cddc39;
    margin: 0px auto;
    display: table;
    line-height: 45px;
    text-align: center;
}

.content.research .button:before {
    content: '\f176';
    font-family: "FontAwesome";
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 1px solid #222;
    color: #222;
    display: inline-block;
    line-height: 25px;
    margin-right: 8px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.content.research .button:hover {
    background: #f6e946;
}

.content.research.all h4 {
    font-size: 24px;
    font-weight: 400;
    color: #3b3b3b;
    vertical-align: top;
    margin-bottom: 5px;
}

.content.research.all img {
    width: 261px;
}

.content.research.all ul {
    margin-top: 20px;
}

.content.research.all hr.sline {
    margin-bottom: 45px;
}

.content.research.all .page {
    float: right;
}

.content.research.all .page ul {
    margin-top: 3px;
    margin-left: 10px;
}

.content.research.all .page li:nth-child(2) {
    margin-left: 0;
}

.content.research.all .page li:nth-child(2):after {
    display: none;
}

.content.research.all .page p {
    display: inline-block;
}

.content.research.all .page li {
    vertical-align: top;
}

.content.research.all .page li.active a {
    text-decoration: none;
    background: #cddc39;
}

.content.research.all .page li a {
    width: 20px;
    height: 20px;
    text-align: center;
    border: 2px solid #aeaeae;
    display: block;
    line-height: 16px;
    font-size: 14px;
    margin: 0 3px;
}

.content.research.all .page li a:hover {
    text-decoration: none;
    background: #cddc39;
}

.content.subscribe {
    padding-bottom: 65px;
}

.content.subscribe h4 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
}

.content.subscribe p {
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 25px;
}

.content.subscribe p i {
    margin-right: 8px;
}

.content.subscribe .button {
    font-size: 24px;
    text-transform: uppercase;
    color: #222;
    width: 165px;
    height: 45px;
    background: #cddc39;
    display: table;
    text-align: center;
    line-height: 45px;
    margin-bottom: 58px;
}

.content.subscribe .button:hover {
    background: #f6e946;
}

.right-sitebar h3 {
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #222;
    margin-top: 51px;
    margin-bottom: 43px;
    line-height: 37px;
    margin-bottom: 30px;
}

.right-sitebar h3.title {
    margin-top: 35px;
}

.right-sitebar input[type="search"] {
    width: 274px;
    border: 2px solid #cdcdcd;
    height: 39px;
    padding-left: 15px;
    vertical-align: top;
}

.right-sitebar input[type="submit"] {
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    color: #222;
    width: 130px;
    height: 45px;
    background: #cddc39;
    margin-left: 29px;
}

.right-sitebar input[type="submit"]:hover {
    background: #f6e946;
}

.right-sitebar h5 {
    font-size: 18px;
    color: #686868;
    margin-top: 27px;
}

.right-sitebar .description {
    background: #eae9e9;
    overflow: hidden;
}

.right-sitebar .description img {
    width: 100%;
}

.right-sitebar .description p {
    line-height: 24px;
    font-weight: 300;
    color: #3b3b3b;
    text-align: justify;
    padding: 10px 10px;
}

.right-sitebar .description a {
    font-size: 14px;
    font-weight: 400;
    clear: both;
    float: right;
    margin-top: 8px;
    margin-bottom: 13px;
    color: #000;
    padding-right: 10px;
}

.right-sitebar .description a:after {
    content: '\f178';
    font-family: "FontAwesome";
    margin-left: 5px;
    font-size: 14px;
    color: #3b3b3b;
}

.right-sitebar .button-soc {
    display: block;
    text-transform: uppercase;
    color: #222;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 150px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    padding-top: 33px;
}

.right-sitebar .button-soc:hover {
    color: #aeaeae;
}

.right-sitebar .button-soc i {
    display: block;
    margin-bottom: 5px;
}

.right-sitebar .button-soc i:before {
    font-size: 52px;
}

.right-sitebar .button-soc b {
    font-weight: 700;
}

.right-sitebar .button-soc.tw {
    background: url(../images/bg-tw-btn.png) no-repeat;
    margin-bottom: 30px;
}

.right-sitebar .button-soc.fc {
    background: url(../images/bg-fc-btn.png) no-repeat;
}

.right-sitebar select {
    width: 100%;
    height: 45px;
    border: 2px solid #cdcdcd;
    color: #686868;
    padding-left: 15px;
    font-weight: 300;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 90px;
}

.right-sitebar select::-ms-expand {
    display: none;
}

.right-sitebar select:focus + .selects:before {
    border: 7px solid transparent;
    border-bottom: 7px solid #686868;
    top: 13px;
}

.right-sitebar .select {
    position: relative;
    overflow: hidden;
}

.right-sitebar .selects:before {
    content: '';
    position: absolute;
    right: 15px;
    top: 20px;
    border: 7px solid transparent;
    border-top: 7px solid #686868;
    pointer-events: none;
}

.menu .fa-bars {
    display: none;
}

.fixed-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

.top-footer {
    background-color: #686868;
    height: 255px;
}

.top-footer .logo {
    margin-top: 32px;
    margin-bottom: 14px;
}

.top-footer .text {
    line-height: 22px;
    color: #fff;
    font-weight: 300;
}

.top-footer h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 56px;
}

.top-footer ul {
    margin-top: 23px;
}

.top-footer li {
    display: inline-block;
}

.top-footer li i:before {
    font-size: 30px;
    margin-right: 20px;
    color: #aeaeae;
}

.top-footer li:hover i:before {
    color: #fff;
}

.top-footer a {
    font-size: 16px;
    color: #fff;
    line-height: 28px;
    font-weight: 300;
}

.top-footer input[type="text"] {
    width: 100%;
    border: 2px solid #cdcdcd;
    height: 39px;
    padding-left: 15px;
    vertical-align: top;
    margin-top: 26px;
}

.top-footer input[type="submit"] {
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    color: #222;
    width: 130px;
    height: 45px;
    background: #cddc39;
    margin-top: 15px;
}

.top-footer input[type="submit"]:hover {
    background: #f6e946;
}

.bottom-footer {
    background-color: #3b3b3b;
    height: 60px;
}

.bottom-footer li {
    display: inline-block;
    margin-left: 31.2px;
}

.bottom-footer li:first-child {
    margin-left: 0;
}

.bottom-footer li:hover a,
.bottom-footer li.active a {
    color: #cddc39;
}

.bottom-footer li .icon-Home:before {
    font-size: 23px;
}

.bottom-footer li .icon-about:before {
    font-size: 27px;
}

.bottom-footer li .icon-research:before {
    font-size: 20px;
}

.bottom-footer li .icon-subscribe:before {
    font-size: 24px;
}

.bottom-footer li .icon-contact:before {
    font-size: 21px;
}

.bottom-footer li .icon-privasy:before {
    font-size: 21px;
}

.bottom-footer li .icon-disclaimer:before {
    font-size: 19px;
}

.bottom-footer a {
    color: #fff;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
}

.bottom-footer i:before {
    margin-right: 10px;
    vertical-align: -2px;
}

.copyright {
    height: 60px;
    background-color: #262626;
}

.copyright p {
    line-height: 60px;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    text-align: center;
}

.modal {
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000;
    pointer-events: none;
    overflow: auto;
}

.modal .block-modal {
    width: 557px;
    height: 690px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    display: table;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    pointer-events: auto;
    margin-top: calc(100% - 95%);
    padding: 68px;
    position: relative;
}

.modal .block-modal.sign {
    height: 480px;
}

.modal .block-modal label {
    margin-bottom: 15px;
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    color: #3b3b3b;
}

.modal .block-modal label:nth-last-child(2) {
    margin-bottom: 12px;
}

.modal .block-modal label input {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 28px;
    padding: 0 15px;
    height: 41px;
    margin-top: 10px;
    border: 2px solid #cdcdcd;
}

.modal .block-modal label input:focus {
    border: 2px solid #f6e946;
}

.modal .block-modal .button {
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    color: #222;
    width: 163px;
    height: 45px;
    background: #cddc39;
    float: right;
    margin-top: 16px;
}

.modal .block-modal .button:hover {
    background: #f6e946;
}

.modal .block-modal .title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-align: left;
    display: block;
    margin-bottom: 41px;
    text-transform: uppercase;
}

.modal .block-modal .close {
    position: absolute;
    top: 0;
    width: 36px;
    height: 36px;
    border: 2px solid #cdcdcd;
    right: 0;
    line-height: 30px;
    cursor: pointer;
}

.modal .block-modal .new-user {
    font-size: 18px;
    font-weight: 300;
    color: #3b3b3b;
    margin-top: 40px;
    display: block;
}

.modal .block-modal .new-user a {
    font-weight: 400;
    color: #3b3b3b;
    margin-left: 5px;
}

.modal .block-modal .new-user a:hover {
    text-decoration: underline;
}

/*--START CHECKBOX--*/

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    color: #616161;
    font-weight: 400;
    font-style: normal;
    background: #fdfdfd;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 15px;
    height: 15px;
    padding-left: 2px;
    padding-top: 1px;
    color: #066;
    box-shadow: none;
    border: none;
    line-height: 1;
    font-size: 10px;
    background: #fff;
    border: 2px solid #cdcdcd;
}

[type="checkbox"] {
    margin-top: 7px;
    margin-right: 0;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 2px;
    width: 15px;
    height: 15px;
    font-size: 12px;
    color: #cdcdcd;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: 300;
    text-align: center;
    line-height: 13px;
    left: 0px;
    padding-right: 2px;
    background: #fff;
    box-shadow: none;
    border: none;
    font-size: 10px;
    border: 2px solid #cdcdcd;
    padding-left: 2px;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* disabled checkbox */

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px solid #cdcdcd;
}

[type="checkbox"]:focus {
    outline: none;
}

label:hover:before {
    border: 2px solid #cdcdcd;
}

.checkbox label {
    padding-left: 30px;
}

p.checkbox {
    line-height: 20px;
    margin-top: 44px;
    display: table;
}

/*--END CHECKBOX--*/

@media only screen and (max-width: 1199px) {
    body {
        font-size: 13px;
    }

    .top-header .reg li {
        padding: 0 10px;
    }

    .top-header .reg li:nth-last-child(3) {
        padding-left: 0;
        padding-right: 10px;
    }

    .top-header .search {
        width: 240px;
    }

    .logo img {
        width: 240px;
        margin-top: 19px !important;
    }

    .top-footer h3 {
        font-size: 21px;
    }

    .bottom-footer a {
        font-size: 14px;
    }

    .bottom-footer li {
        margin-left: 24.2px;
    }

    .slider img {
        width: 1920px;
        position: absolute;
        display: block;
        height: 615px;
        right: -350px;
    }

    .right-sitebar input[type="search"] {
        width: calc(100% - 185px);
    }

    hr.sline {
        margin-top: 50px;
    }

    html,
    body {
        overflow-x: hidden !important;
    }
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {
    .top-header {
        height: 65px;
        padding-top: 10px;
    }

    .top-header li:first-child {
        display: block;
    }

    .top-header .phone a {
        padding-right: 10px;
        line-height: 25px;
    }

    .top-header .reg li {
        padding: 0 10px;
    }

    .top-header .reg li:nth-last-child(3) {
        padding-left: 0;
        padding-right: 10px;
    }

    .top-header .reg li a {
        line-height: 25px;
    }

    .top-header .reg li:first-child {
        padding-right: 0 !important;
        text-align: right;
    }

    .top-header .reg li:first-child a i::before {
        font-size: 16px;
    }

    .top-header .search {
        width: calc(100% - 400px);
        vertical-align: top;
        line-height: 25px;
    }

    .top-header .search input {
        width: 70%;
    }

    .bottom-header {
        height: 75px;
    }

    .bottom-header .menu a {
        padding: 0 10px;
        font-size: 10px;
        height: 55px;
        line-height: 35px;
    }

    .bottom-header .menu a i::before {
        font-size: 18px;
    }

    .bottom-header .logo {
        margin-top: 17px;
    }

    .bottom-header .logo img {
        margin-top: 0 !important;
    }

    .top-footer .logo img {
        width: 100%;
        margin-top: 11px !important;
    }

    .top-footer h3 {
        font-size: 15px;
    }

    .top-footer a {
        font-size: 10px;
    }

    .top-footer input[type="text"] {
        font-size: 10px;
    }

    .bottom-footer a {
        font-size: 10px;
    }

    .bottom-footer li {
        margin-left: 14.2px;
    }

    .slider {
        min-height: 317px;
    }

    .slider img {
        width: 991px;
        position: absolute;
        display: block;
        height: 318px;
        right: -15px;
    }

    .slider-text {
        margin-top: 70px;
    }

    .slider-text .title {
        line-height: 36px;
        font-size: 35px;
    }

    .slider-text .title-min {
        font-size: 18px;
    }

    .banner {
        min-height: 139px;
    }

    .banner img {
        width: 991px;
        position: absolute;
        display: block;
        height: 139px;
        right: -15px;
    }

    .banner-text h3 {
        font-size: 16px;
        margin-bottom: 36px;
    }

    .banner-text h2 {
        font-size: 20px;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {
    .bottom-header .menu {
        position: initial !important;
        bottom: inherit !important;
        right: inherit !important;
        display: inline-block;
        float: right;
    }

    .bottom-header .menu .fa-bars {
        display: block;
        float: right;
        font-size: 50px;
        line-height: 85px;
    }

    .bottom-header .menu ul {
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 100;
        background: #686868;
        top: 85px;
    }

    .bottom-header .menu ul li {
        display: block;
    }

    .bottom-header .menu a {
        font-size: 16px;
        line-height: 35px;
        display: block;
        text-align: center;
    }

    .top-footer {
        padding-bottom: 20px;
        height: inherit;
    }

    .top-footer .logo {
        margin-top: 10px;
        margin-bottom: 17px;
    }

    .top-footer h3 {
        margin-top: 45px;
    }

    .top-footer .col-xs-6:nth-child(3) {
        clear: both;
    }

    .top-footer ul {
        margin-top: 40px;
    }

    .top-footer ul a {
        font-size: 17px;
    }

    .bottom-footer {
        height: 120px;
    }

    .bottom-footer ul {
        text-align: center;
    }

    .bottom-footer ul li {
        width: 20%;
    }

    .slider img {
        width: 991px;
        position: absolute;
        display: block;
        height: 318px;
        right: -205px;
    }

    .right-sitebar .button-soc.fc,
    .right-sitebar .button-soc.tw {
        background-repeat: repeat;
    }

    .content .research {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 620px) {
    .bottom-footer {
        height: inherit;
    }

    .bottom-footer ul li {
        width: 33%;
        margin-left: 0;
        text-align: left;
    }

    .banner img {
        right: -195px;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 579px) {
    .top-header {
        height: 100px;
    }

    .top-header .search {
        position: absolute;
        bottom: -30px;
        right: 15px;
        width: 100%;
    }

    .top-header .search input {
        width: 50%;
    }

    html {
        overflow-x: hidden;
    }

    .top-footer ul a {
        font-size: 10px;
    }

    .top-footer h3 {
        margin-top: 35px;
    }

    .slider {
        min-height: 185px;
    }

    .slider img {
        width: 580px;
        position: absolute;
        display: block;
        height: 185px;
        right: -15px;
    }

    .slider-text {
        margin-top: 40px;
    }

    .slider-text .title {
        line-height: 19px;
        font-size: 16px;
    }

    .slider-text .title-min {
        font-size: 10px;
        margin-top: 20px;
    }

    .modal .block-modal {
        width: 400px;
    }

    .modal .block-modal input {
        height: 25px;
        font-size: 12px;
    }

    .modal .block-modal input[type="checkbox"] {
        display: none;
    }

    .modal .block-modal .button {
        width: 100%;
        margin-bottom: 20px;
    }

    .content.research.all .page {
        float: right;
        margin-top: 20px;
    }

    .content.research img {
        float: inherit;
        width: 100%;
    }
}

@media only screen and (max-width: 429px) {
    .top-header .phone a {
        font-size: 10px;
    }

    .top-header .reg a {
        font-size: 10px;
    }

    .copyright p {
        font-size: 10px;
    }

    .slider img {
        right: -130px;
    }

    .right-sitebar input[type="search"] {
        font-size: 10px;
    }

    .right-sitebar .button-soc {
        font-size: 24px;
    }

    .modal .block-modal {
        width: 100%;
    }

    .banner {
        min-height: 60px;
    }

    .banner img {
        right: -15px;
        width: 430px;
        height: 60px;
    }

    .banner-text {
        margin-top: 10px;
    }

    .banner-text h3 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .banner-text h2 {
        font-size: 16px;
    }

    .content.research.all img {
        width: 100%;
        font: inherit;
    }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 379px) {
    .bottom-header .logo img {
        margin-top: 6px !important;
        width: 200px;
    }

    .top-header {
        height: 70px;
    }

    .top-header .search {
        display: none;
    }

    .top-header .phone a {
        font-size: 9px;
    }

    .top-header .reg a {
        font-size: 9px;
    }

    .top-footer .col-xs-6 {
        width: 100%;
    }

    .top-footer .col-xs-6:nth-of-type(2) li {
        display: block;
    }

    .top-footer .col-xs-6:nth-of-type(2) li a {
        font-size: 16px;
    }

    .top-footer h3 {
        margin-top: 20px;
    }

    .top-footer ul {
        margin-top: 15px;
    }

    .bottom-footer ul li {
        width: 45%;
    }

    .right-sitebar input[type="search"] {
        width: 94%;
    }

    .right-sitebar input[type="submit"] {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }

    .banner img {
        right: -65px;
        width: 430px;
        height: 60px;
    }
}

div.wpad_input_wrap label input {
    margin-top: 25px;
}

.top-menu-text {
    font-size: 14px;
}

.modal .block-modal.subscibe_for_free {
    height: 300px;
    width: 350px;
    padding: 43px;
}

a.footer-email:hover {
    color: #cddc39 !important;
}

a.footer-email span {
    color: #f6e946;
}

/*# sourceMappingURL=main.css.map */

i.fa-twitter:hover:before {
    color: #1da1f2 !important;
}

section.wrapper {
    padding-bottom: 20px;
}

div.pagination {
    float: right;
}

.content.research p img {
    max-width: 100%;
    height: auto;
}

/*div.single-content{*/
/*clear: both;*/
/*}*/

img.size-full {
    max-width: 100%;
    height: auto;
}

/*img.single-img-research-reports{*/
/*width: 100% !important;*/
/*}*/

/*div.content-research-reports img.size-full{*/
/*max-width: 100% !important;*/
/*}*/

/*img.post-img{*/
/*width: 100%;*/
/*}*/
.content.research.all img {
    width: inherit !important;
    margin: 0 20px 0 0 !important;
}

.content a img {
    width: 100% !important;
}