//START FOOTER
.top-footer
{
	background-color: $c-68;
	height: 255px;

	.logo
	{
		margin-top: 32px;
		margin-bottom: 14px;
	}
	.text
	{
		line-height: 22px;
		color: $c-fff;
		font-weight: 300;
	}
	h3
	{
		font-size: $fz + 8;
		text-transform: uppercase;
		color: $c-fff;
		margin-top: 56px;
	}
	ul
	{
		margin-top: 23px;
	}
	li
	{
		display: inline-block;

		i:before
		{
			font-size: 30px;
			margin-right: 20px;
			color: $c-ae;
		}
		&:hover i:before
		{
			color: $c-fff;
		}
	}
	a
	{
		font-size: 16px;
		color: $c-fff;
		line-height: 28px;
		font-weight: 300;
	}
	input[type="text"]
	{
		width: 100%;
		border: 2px solid #cdcdcd;
		height: 39px;
		padding-left: 15px;
		vertical-align: top;
		margin-top: 26px;

	}
	input[type="submit"]
	{
		border:none;
		font-size: 24px;
		text-transform: uppercase;
		color: $c-222;
		width: 130px;
		height: 45px;
		background: $c-cd;
		margin-top: 15px;

		&:hover
		{
			background: $c-f6;
		}
	}

}
.bottom-footer
{
	background-color: $c-3b;
	height: 60px;
	li
	{
		display: inline-block;	
		margin-left: 31.2px;

		&:first-child
		{
			margin-left: 0;

		}
		&:hover a,
		&.active a
		{
			color: $c-cd;
		}
		.icon-Home:before
		{
			font-size: 23px;
		}
		.icon-about:before
		{
			font-size: 27px;
		}
		.icon-research:before
		{
			font-size: 20px;
		}
		.icon-subscribe:before
		{
			font-size: 24px;
		}
		.icon-contact:before
		{
			font-size: 21px;
		}
		.icon-privasy:before
		{
			font-size: 21px;
		}
		.icon-disclaimer:before
		{
			font-size: 19px;
		}
	}
	a
	{
		color: $c-fff;
		line-height: 60px;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 500;
		font-family: $Raleway;
	}
	i:before
	{
		margin-right: 10px;
		vertical-align: -2px;
	}
}
.copyright
{
	height: 60px;
	background-color: #262626;

	p
	{
		line-height: 60px;
		font-size: $fz - 1;
		color: $c-fff;
		font-weight: 300;
		text-align: center;

	}
}
//END FOOTER
//START MODAL
.modal
{
	position: fixed;
	z-index: 10;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1000;
	pointer-events: none;
	overflow: auto;

	.block-modal
	{
		width: 557px;
		height: 690px;
		box-shadow: 0px 1px 3px 0.00px rgba(0, 0, 0, 0.1);
		display: table;
		margin: 0 auto;
		text-align: center;
		background: #fff;
		pointer-events: auto;
		margin-top: calc(100% - 95%);
		padding: 68px;
		position: relative;
		
		&.sign
		{
			height: 480px;
		}

		label
		{
			margin-bottom: 15px;
			display: block;
			text-align: left;
			font-size: 18px;
			font-weight: 300;
			color: $c-3b;

			&:nth-last-child(2)
			{
				margin-bottom: 12px;
			}

			input
			{
				display: block;
				width: 100%;
				height: 30px;
				line-height: 28px;
				padding: 0 15px;
				height: 41px;
				margin-top: 10px;
				border: 2px solid #cdcdcd;
				
				&:focus
				{
					border: 2px solid $c-f6;
				}
			}

		}

		.button
		{
		
			border:none;
			font-size: 24px;
			text-transform: uppercase;
			color: $c-222;
			width: 163px;
			height: 45px;
			background: $c-cd;
			float: right;
			margin-top: 16px;
			

			&:hover
			{
				background: $c-f6;
			}
		}

		.title
		{
			font-size: $fz + 14;
			font-weight: 700;
			color: #333;
			text-align: left;
			display: block;
			margin-bottom: 41px;
			text-transform: uppercase;
		}
		.close
		{
			position: absolute;
			top: 0;
			width: 36px;
			height: 36px;
			border: 2px solid #cdcdcd;
			right: 0;
			line-height: 30px;
			cursor: pointer;
		}
		.new-user
		{
			font-size: 18px;
			font-weight: 300;
			color: $c-3b;
			margin-top: 40px;
			display: block;
			
			a
			{
				font-weight: 400;
				color: $c-3b;
				margin-left: 5px;
				
				&:hover
				{
					text-decoration: underline;
				}
			}
		}

	}
} 
//END MODAL

/*--START CHECKBOX--*/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked
{
	position: absolute;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label
{
	position: relative;
	cursor: pointer;
	font-size: 12px;
	color: #616161;
	font-weight: 400;
	font-style: normal;
	background: #fdfdfd
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 2px;
	width: 15px;
	height: 15px;
	padding-left: 2px;
	padding-top: 1px;
	color: #066;
	box-shadow: none;
	border: none;
	line-height: 1;
	font-size: 10px;
	background: #fff;
	border:2px solid #cdcdcd;
}
[type="checkbox"]
{
	margin-top: 7px;
	margin-right: 0;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after
{
	content: '✔';
	position: absolute;
	top: 2px;
	width: 15px;
	height: 15px;
	font-size: 12px;
	color: #cdcdcd;
	-webkit-transition: all .2s;
	transition: all .2s;
	font-weight: 300;
	text-align: center;
	line-height: 13px;
	left: 0px;
	padding-right: 2px;
	background: #fff;
	box-shadow: none;
	border: none;
	font-size: 10px;
	border:2px solid #cdcdcd;
	padding-left: 2px;
}
[type="checkbox"]:not(:checked) + label:after
{
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
[type="checkbox"]:checked + label:after
{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before
{
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after
{
	color: #999;
}
[type="checkbox"]:disabled + label
{
	color: #aaa;
}
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before
{
	border:2px solid #cdcdcd;

}
[type="checkbox"]:focus
{
	outline: none;
}
label:hover:before
{
	border:2px solid #cdcdcd;
}
.checkbox label
{
	padding-left: 30px;
	
}
p.checkbox 
{
	line-height: 20px;
	margin-top: 44px;
	display: table;
}

/*--END CHECKBOX--*/