$Raleway:'Raleway', sans-serif;
$Lato:'Lato', sans-serif;
$c-3b:#3b3b3b;
$c-222:#222;
$c-f6:#f6e946;
$c-68:#686868;
$c-fff:#fff;
$c-cd:#cddc39;
$c-ae:#aeaeae;
$fz:16px; 

//START HEADER 
.top-header
{
	background: $c-3b;
	height: 45px;

	.phone
	{
		display: inline-block;

		li
		{
			display: inline-block;
		}
		a
		{
			color: $c-fff;
			padding-right: $fz + 9;
			line-height: 45px;
			font-family:$Raleway;

			&:hover
			{
				color: $c-cd !important;
			}
			span
			{
				color: $c-f6;    
			}    
		}
	}

	.search
	{
		display: inline-block;
		width: 260px;
		text-align: right;
		
		input
		{
			display: none;	
			width: 180px;
			border: 2px solid #cdcdcd;
			height: 18px;
			padding-left: 10px;
			margin-right: 5px;
			font-size: 12px;
		}
		
		i
		{
			color: $c-ae;
		}
	}
	.reg
	{
		float: right;

		li
		{
			display: inline-block;
			padding: 0 20px;
			color: $c-ae;

			&:first-child a
			{
				color: $c-fff;
				text-transform: uppercase;
				
				i:before
				{
					margin-right: 5px;
					font-size: 21px;
					vertical-align: -3px;
				}
			} 
			&:last-child,
			&:nth-last-child(2)
			{
				padding: 0;
			}
			&:nth-last-child(3)
			{
				padding-left: 0;
				padding-right: 35px;
			}
			&:nth-last-child(4)
			{
				padding-right: 5px;
				
			}
			&:hover:nth-last-child(4) a,
			&:hover:nth-last-child(3) a
			{
				color: $c-fff !important;
			}
		}
		a
		{
			color: $c-ae;
			line-height: 45px;
			font-family:$Raleway;
			
			&:hover
			{
				color: $c-cd !important;
			}
		}
	}
}
.bottom-header
{
	background: $c-68;
	height: 105px; 
	position: relative;
	
	.logo
	{
		margin-top: 18px;
		display: inline-block;
		margin-bottom: 28px;
	}
	.menu
	{
		position: absolute;
		bottom: 0;
		right: 0;
		
		li
		{
			display: inline-block;
			&.active a
			{
				background: $c-cd;
				color: $c-3b;
			}
		}
		a
		{
			border-top: 3px solid transparent;
			color: #fff;
			height: 75px;
			padding: 0 21px;
			display: inline-block;
			font-family:$Raleway;
			text-transform: uppercase;
			line-height: 54px;
			
			&:hover
			{
				border-color: $c-cd;
			}
			i
			{
				vertical-align: -2px;
				
				&:before
				{
					margin-right: 12px;
					font-size: 23px;

				}
			}
			
		}
	}
}
//END HEADER