@media only screen and (max-width : 1199px) 
{
body
	{
		font-size: $fz - 3;	
	}
.top-header
{ 	.reg
	{
		li
		{
			padding: 0 10px;

			&:nth-last-child(3) 
			{
				padding-left: 0;
				padding-right: 10px;
			}	
		}
	}
	.search
	{
		width: 240px;
	}
}
.logo img 
{
	width: 240px;
	margin-top: 19px !important;
}
.top-footer h3
	{
		font-size: 21px;		
	}
.bottom-footer
	{ 
		a
		{
			font-size: 14px;
		}
		li
		{
			margin-left: 24.2px;
		}
	}
.slider img 
	{
		width: 1920px;
		position: absolute;
		display: block;
		//height: 615px;
		height: 100%;
		right: -350px;
	}
.right-sitebar input[type="search"] 
	{
		width: calc(100% - 185px);	
	}
	hr.sline 
	{
		margin-top: 50px;
	}
html,
body
	{
		overflow-x: hidden !important;	
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) 
{
	.top-header
	{ 
		height: 65px;
		padding-top: 10px;
		
		li:first-child
		{
			display: block;	
		}
		
		.phone a
		{
			padding-right: 10px;	
			line-height: 25px;
		}
		
		.reg
		{
			li
			{
				padding: 0 10px;

				&:nth-last-child(3) 
				{
					padding-left: 0;
					padding-right: 10px;
				}
				a
				{
					line-height: 25px;
				}
				&:first-child 
				{
					padding-right: 0 !important;
					text-align: right;
					
					a i::before
					{
						font-size: 16px;
					} 
				}
				
			}
		}
		.search
		{
			width: calc(100% - 400px);
			vertical-align: top;
			line-height: 25px;
			input
			{
				width: 70%;
			}
		}
		
	}
	.bottom-header 
	{
		height: 85px;
		
		.menu
		{ 
			a
			{
				padding: 0 10px;
				font-size: 10px;
				height: 55px;
				line-height: 35px;
				
				i::before
				{
					font-size: 18px;
				}
				
			}
		}
		.logo 
		{
			margin-top: 17px;
			
			img
			{
				margin-top: 0 !important;
			}
		}
	}
.top-footer
	{
		.logo
		{
			img
			{
				width: 100%;
				margin-top: 11px !important;
			}
		}
		h3
		{
			font-size: 15px;
		}
		a
		{
			font-size: 10px;
		}
		input[type="text"]
		{
			font-size: 10px;
		}
		
	}
	.bottom-footer 
	{
		a 
		{
			font-size: 10px;
		}
		li
		{
			margin-left: 14.2px;
		}
	}
.slider
	{
		min-height: 317px;
		
		img 
		{
			width: 991px;
			position: absolute;
			display: block;
			height: 318px;
			right: -15px;
		}
	}		
	.slider-text 
	{
		margin-top: 70px;
		.title 
		{
			line-height: 36px;
			font-size: 35px;
		}
		.title-min 
		{
			font-size: 18px;
		}
	}
.banner  
	{
		min-height: 139px;
		img
			{
			width: 991px;
			position: absolute;
			display: block;
			height: 139px;
			right: -15px;
		}
	}
	.banner-text
	{
		h3	
		{
			font-size: 16px;
			margin-bottom: 36px;
		}
		h2
		{
			font-size: 20px;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) 
{
.bottom-header 
{	
	.menu 
	{
		position: initial !important;
		bottom: inherit !important;
		right: inherit !important;
		display: inline-block;
		float: right;
		
		.fa-bars
		{
			display: block;
			float: right;
			font-size: 50px;
			line-height: 85px;
		}
		ul
		{
			display: none;
			position: absolute;
			width: 100%;
			left: 0;
			z-index: 100;
			background: $c-68;
			top: 85px;
			
			li
			{
				display: block;
			}
		}
		a
		{
			font-size: 16px;
			line-height: 35px;
			display: block;
			text-align: center;
		}
		
	}
}
.top-footer
	{
		padding-bottom: 20px;
		
		height: inherit;
		
		.logo 
		{
			margin-top: 10px;
			margin-bottom: 14px;
		}
		h3
		{
			margin-top: 45px;
		}
		.col-xs-6:nth-child(3)
		{
			clear: both;
		}
		ul
		{
			margin-top: 40px;
			a
			{
				font-size: 17px;
			}
		}
	}
	.bottom-footer
	{
		height: 120px;
	
		ul
		{
			text-align: center;
			
			li
			{
				width: 20%;
			}
		}
	}
.slider img 
	{
		width: 991px;
		position: absolute;
		display: block;
		height: 318px;
		right: -205px;
	}
	
.right-sitebar .button-soc.fc,
.right-sitebar .button-soc.tw
	{
		background-repeat: repeat;
	}
.content .research
	{
		margin-bottom: 0;
	}		
}
@media only screen and (max-width :620px)
{
	.bottom-footer
	{
		height: inherit;
		ul
		{
			li
			{
				width: 33%;
				margin-left: 0;
				text-align: left;
			}
		}
	}
	.banner img 
	{

		right: -195px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 579px) 
{
	.top-header 
	{
		height: 100px;
		
		.search
		{
			position: absolute;
			bottom: -30px;
			right: 15px;
			width: 100%;
			input
			{
				width: 50%;
			}
		}
	}
	html
	{
		overflow-x: hidden;
	}
	.top-footer
	{
		ul a 
		{
			font-size: 10px;
		}
		h3
		{
			margin-top: 35px;
		}
	}
.slider 
	{
		min-height: 185px;
			
		img 
		{
			width: 580px;
			position: absolute;
			display: block;
			height: 185px;
			right: -15px;
		}
	}
.slider-text 
	{
		margin-top: 40px;
		.title 
		{
			line-height: 19px;
			font-size: 16px;
		}
		.title-min 
		{
			font-size: 10px;
			margin-top: 20px;
		}
	}
	.modal .block-modal 
	{
		width: 400px;
	}
	.modal .block-modal  
	{
		input
		{
			height: 25px;
			font-size: 12px;
			
			&[type="checkbox"]
			{
				display: none;
			}
		}
		.button
		{
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.content.research.all .page 
	{
		float: right;
		margin-top: 20px;
	}
.content.research img	
	{
		float: inherit;
		width: 100%;
	}
}
@media only screen and (max-width : 429px) 
{
	.top-header 
	{
		.phone
		{
			a
			{
				font-size: 10px;
			}
		}
		.reg
		{
			a
			{
				font-size: 10px;
			}
		}
	}
	.copyright 
	{
		p
		{
			font-size: 10px;
		}
	}
	.slider img 
	{

		right: -130px;
	}
	.right-sitebar input[type="search"]
	{
		font-size: 10px;
	}
	.right-sitebar .button-soc
	{
		font-size: 24px;
	}
	.modal .block-modal 
	{
		width: 100%;
	}
	.banner 
	{
		min-height: 60px;
		img 
		{
			right: -15px;
			width: 430px;
			height: 60px;
		}
		
	}
	.banner-text 
	{
		margin-top: 10px;
		h3 
		{
			font-size: 12px;
			margin-bottom: 10px;
		}
		h2
		{
			font-size: 16px;
		}
	}
	.content.research.all img 
	{
		width: 100%;
		font: inherit;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 379px) 
{
	.bottom-header 
	{
		.logo 
		{
			img
			{
				margin-top: 6px !important;
				width: 200px;
			}
			
		}
	}
	.top-header 
	{
		height: 70px;
		.search
		{
			display: none;
		}
		
		.phone
		{
			a
			{
				font-size: 9px;
			}
		}
		.reg
		{
			a
			{
				font-size: 9px;
			}
		}
	}
	.top-footer 
	{
		.col-xs-6
		{
			width: 100%;
			
			&:nth-of-type(2) li
			{
				display: block;
				a
				{
					font-size: 16px;
				}
			}
		}
		h3 
		{
			margin-top: 20px;
		}
		ul
		{
			margin-top: 15px;
		}
	}
	.bottom-footer
	{
		ul
		{
			li
			{
				width: 45%;
			}
		}
	}
	.right-sitebar input[type="search"]
	{
		width: 94%;
	}
	.right-sitebar input[type="submit"]
	{
		width: 100%;
		margin-top: 20px;
		margin-left: 0;
	}
	.banner img {
		right: -65px;
		width: 430px;
		height: 60px;
	}
}   