
@import "reset"; 
@import "header";
$fa:'FontAwesome';
$Raleway:'Raleway', sans-serif;
$op: 'Open Sans', sans-serif;
$Lato:'Lato', sans-serif;
$c_3b:#3b3b3b;
$c_222:#222;
$c_f6:#f6e946;
$c_68:#686868;
$c_fff:#fff;
$c_cd:#cddc39;
$c_ae:#aeaeae;
$fz:16px;  

//START CONTENT
.slider
{
	min-height: 615px;
		
	img
	{
		width: 1920px;
		position: absolute;
		display: block;
		height: 615px;
		right: -15px;
	}
}
.banner
{
    min-height: 270px;
	
    img
	{
		width: 1920px;
		position: absolute;
		display: block;
		height: 270px;
		right: -15px;
	}
}
.slider-text
{
	margin-top: 176px;
	
	.title
	{
		line-height: 72px;
		font-size: 62px;
		color: $c-3b;
		font-family: $Raleway;
		text-transform: uppercase;
		font-weight: 700; 
	}
	.title-min
	{
		font-family: $Raleway;
		font-size: $fz + 14;
		line-height: 36px;
		font-weight: 600;
		text-transform: uppercase;
		margin-top: 68px;
	}
	
}
.banner-text
{
    margin-top: 33px;
    h3
    {
        font-size: $fz + 8;
        font-weight: 400;
        color: $c-68;
        margin-bottom: 68px;
        font-family: $Raleway;
    }
    h2
    {
        font-size: $fz + 14;
        text-transform: uppercase;
        font-weight: 600;
        font-family: $Raleway;
        
    }
}
span.sline
{
	background: -moz-linear-gradient(top,  rgba(246,233,70,0) 64%, rgba(246,233,70,1) 65%, rgba(246,233,70,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(246,233,70,0) 64%,rgba(246,233,70,1) 65%,rgba(246,233,70,1) 100%);
	background: linear-gradient(to bottom,  rgba(246,233,70,0) 64%,rgba(246,233,70,1) 65%,rgba(246,233,70,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f6e946', endColorstr='#f6e946',GradientType=0 );
}
hr.sline
{
	border-top: 2px solid $c-f6;
}
.content
{
	h3
	{
		font-size: $fz + 14;
		font-family: $Raleway;
		text-transform: uppercase;
		font-weight: 700;
		color: $c-222;
		margin-top: 55px;
		margin-bottom: 37px;
	}
	a.title
	{
		font-size: $fz + 9;
		color: $c-3b;
		margin-top: 18px;
		display: table;
		
		&:hover
		{
			text-decoration: underline;
		}
	}
	.text
	{
		font-size: $fz;
		padding-right: 15px;
		margin-top: 17px;
		line-height: 20px;
		text-align: justify;
	}
	.data 
	{
		font-weight: 300;
		color: $c-3b;
		display: inline-block;
		margin-top: 15px;
		margin-bottom: 20px;
		
		b
		{
			font-size: $fz - 2;
			font-weight: 400;
			margin-right: 5px;
		}
	}
	ul
	{
		float: right;
		margin-top: 15px; 
		
		li
		{
			display: inline-block;
			
			&:nth-child(2)
			{
				margin-left: 15px;
				
				&:after
				{
					content: '\f178';
					font-family: $fa;
					margin-left: 5px;
					font-size: 14px;
					color: $c-3b;
				}
			}
			
		}
		a
		{
			font-size: $fz - 1;
			color: $c-3b;
			
			&:hover
			{
				text-decoration: underline;
			}
		}
	}
	.research
	{
		font-size: 16px;
		font-weight: 600;
		font-family: $Raleway;
		clear:both;
		float: right;
		margin-top: 8px;
		text-transform: uppercase;
		color: #000;
		margin-bottom: 90px;

		&:after
		{
			content: '\f178';
			font-family: $fa;
			margin-left: 5px;
			font-size: 14px;
			color: $c-3b;
			
		}
	}
	&.about
	{
        padding-bottom: 67px;
        
		h4
		{
			font-size: 24px;
			color: $c-222;
			font-family: $op;
            font-weight: 400px;
            margin-bottom: 10px;
		}
        p
        {
            font-size: 16px;
            font-family: $op;
            font-weight: 300;
            margin-bottom: 33px;
            line-height: 24px;
            text-align: justify;
        }
	}
    &.contact
    {
        padding-bottom: 90px;
        
        h5
        {
            font-size: 20px;
            font-weight: 400;
            color: $c-68;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        
        label
        {
            display: block;
            font-size: 18px;
            font-weight: 300;
            color: $c-3b;
            margin-bottom: 15px;
        }
        input
        {
            border: 2px solid #cdcdcd;
            height: 45px;
            padding-left: 15px;
            margin-bottom: 15px;
            width:88%;
            
            &[type="submit"]
            {
                border:none;
                font-size: 24px;
                text-transform: uppercase;
                color: $c-222;
                width: 145px;
                height: 45px;
                background: $c-cd;

                &:hover
                {
                    background: $c-f6;
                }
            }
        }
        textarea
        {
            width:88%;
            border: 2px solid #cdcdcd;
            height: 206px;
            margin-bottom: 27px;
        }
    }
    &.disclaimer
    {   
        padding-bottom: 80px;
        
        p
        {
            font-size: 18px;
            line-height: 24px;
            font-family: $op;
            margin-bottom: 24px;
            text-align: justify;
            font-weight: 300;
            
            strong
            {
                
                font-weight: 600;
              
            }
            &:last-child strong
            {
                font-weight: 400;
            }
        }
        
    }
    &.privacy
    {
        padding-bottom: 100px;
        
        h4
        {
            font-size: 24px;
            font-weight: 400;
            font-family: $op;
            color: $c-222;
            margin-top:25px;
            
        }
        p
        {
            font-family: $op;
            font-size: 16px;
            font-weight: 300;
            color: $c-3b;
			line-height: 24px;
            
            &.it
            {
                font-style: italic; 
                
            } 
        }
        ul
        {
            margin-top: 10px;
            float: inherit;
            
            li
            {
                font-family: $op;
                font-weight: 300;
                line-height: 24px;
                display: block;
                position: relative;
                padding-left: 20px;
                font-size: $fz - 1;
                
                &:before
                {
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    position:relative;
                    background: $c-222;
                    display: inline-block;
                    top: -3px;
                    left: -20px;
                }
                
                &:nth-child(2) 
                {
                     margin-left: 0px;
                    
                    &:after
                    {
                        display: none;
                    }
                }
            }
        }
        p
        {
            margin-top: 10px;
            text-align: justify;
        }
        
    }
    &.research
    {
        padding-bottom: 90px;
        
        h2
        {
            font-size: $fz + 8;
            font-weight: 700;
            margin-top: 58px;
            margin-bottom: 23px;
        }
        img
        {
            float: left;
            margin-right: 30px;
            margin-bottom: 20px;
        }
        p
        {
            font-size: 16px;
            font-weight: 300;
            color: $c-3b;
            line-height: 24px;
            text-align: justify;
        }
        .other
        {
            text-transform: uppercase;
            font-weight: 600;
            color: #000;
            font-family: $Raleway;
        }
        h5
        {
            text-align: center;
            font-family: $Raleway;
            font-weight: 500;
            color: $c-3b;
            margin-top: 25px;
            margin-bottom: 30px;
        }
        .button
        {
            font-size: $fz;
            text-transform: uppercase;
            font-family: $Raleway;
            color: $c-222;
            width: 203px;
            height: 45px;
            background: $c-cd;
            margin: 0px auto;
            display: table;
            line-height: 45px;
            text-align: center;
            
            &:before
            {
                content: '\f176';
                font-family: $fa;
                width: 27px;
                height: 27px;
                border-radius: 50%;
                border: 1px solid $c-222;
                color: $c-222;
                display: inline-block;
                line-height: 25px;
                margin-right: 8px;
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                
            }
            &:hover
            {
                background: $c-f6;
            }
		}
        &.all
        {
			h4
			{
				font-size: 24px;
				font-weight: 400;
				color: $c-3b;
				vertical-align: top;
				margin-bottom: 5px;
				
			}
            img
            {
                width: 261px;
            }
            ul
            {
               margin-top: 20px; 
            }
            hr.sline
            {
                margin-bottom: 45px;
            }
            .page
            {
                float: right;
                
                ul
                {
                    margin-top: 3px;
                    margin-left: 10px;
                }
                
                li:nth-child(2)
                {
                    margin-left: 0;
                    
                    &:after
                    {
                        display: none;
                    }
                   
                }
                p
                {
                    display: inline-block;
                }
                li
                {
                    vertical-align: top;
                    
                    &.active a
                    {
                        text-decoration: none;
                        background: $c-cd;

                    }
                    a
                    {
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        border:2px solid $c-ae;
                        display: block;
                        line-height: 16px;
                        font-size: $fz - 2;
                        margin: 0 3px;
                        
                        &:hover
                        {
                            text-decoration: none;
                            background: $c-cd;
                            
                        }
                        
                    }
                }
            }
            
        }	
		
    }
	&.subscribe
	{
		padding-bottom: 65px;
		
		h4
		{
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 15px;
		}
		p
		{

			font-weight: 300;
			font-size: 16px;
			text-align: justify;
			margin-bottom: 25px;
			
			
			i
			{
				margin-right: 8px;	
			}
			
		}
		.button
		{
			font-size: 24px;
			text-transform: uppercase;
			color: $c-222;
			width: 165px;
			height: 45px;
			background: $c-cd;
			display: table;
			text-align: center;
			line-height: 45px;
			margin-bottom: 58px;

			&:hover
			{
				background: $c-f6;
			}
		}
		
	}
	
}

.right-sitebar
{
	h3
	{
		font-size: $fz + 14;
		font-family: $Raleway;
		text-transform: uppercase;
		font-weight: 700;
		color: $c-222;
		margin-top: 51px;
		margin-bottom: 43px;
		line-height: 37px;
        margin-bottom: 30px;
		
		&.title
		{
			margin-top:35px;
		}
	}
	input[type="search"]
	{
		width: 274px;
		border: 2px solid #cdcdcd;
		height: 39px;
		padding-left: 15px;
		vertical-align: top;
		
	}
	input[type="submit"]
	{
		border:none;
		font-size: 24px;
		text-transform: uppercase;
		color: $c-222;
		width: 130px;
		height: 45px;
		background: $c-cd;
		margin-left: 30px;
		
		&:hover
		{
			background: $c-f6;
		}
	}
	h5
	{
		font-size: 18px;
		color: $c-68;
		margin-top: 27px;
	}
	.description
	{
		background: #eae9e9;
		overflow: hidden;
		
		img
		{
			width: 100%;
		}
		p
		{
			line-height: 24px;
			font-weight: 300;
			color: $c-3b;
			text-align: justify;
			padding: 10px 10px;
		}
		a
		{
			font-size: $fz - 2;
			font-weight: 400;
			clear:both;
			float: right;
			margin-top: 8px;
			margin-bottom: 13px;
			color: #000;
			padding-right: 10px;

			&:after
			{
				content: '\f178';
				font-family: $fa;
				margin-left: 5px;
				font-size: 14px;
				color: $c-3b;

			}	
		}
	}
	.button-soc
	{
		display: block;
		text-transform: uppercase;
		color: $c-222;
		font-size: $fz + 14;
		text-align: center;
		width: 100%;
		height: 150px;
		font-family: $Raleway;
		font-weight: 500;
		padding-top: 33px;
		
		&:hover
		{
			color: $c-ae;
		}
		
		i
		{
			display: block;
			margin-bottom: 5px;
			
			&:before
			{
				font-size: 52px;
			}
		}
		b
		{
			font-weight: 700;	
		}
		&.tw
		{
			background: url(../images/bg-tw-btn.png) no-repeat;
			margin-bottom: 30px;
		}
		&.fc
		{
			background: url(../images/bg-fc-btn.png)no-repeat;
		}
	}
	select 
	{
		width: 100%;
		height: 45px;
		border: 2px solid #cdcdcd;
		color: $c-68;
		padding-left: 15px;
		font-weight: 300;
		-webkit-appearance:none;
		-ms-appearance:none;
		-o-appearance:none;
		-moz-appearance:none;
		appearance:none;
		margin-bottom: 90px;

		&::-ms-expand 
		{
			display: none;
		}
		&:focus + .selects:before
		{
			border: 7px solid transparent;	
			border-bottom: 7px solid $c-68 ;
			top: 13px;
		}
	}
	.select
	{
		position: relative;
		overflow: hidden; 
		
	}
	.selects:before
	{
		content:'';
		position: absolute;
		right: 15px;
		top: 20px;	
		border: 7px solid transparent;	
		border-top: 7px solid $c-68 ;
		pointer-events: none;
	}
	
}
.menu .fa-bars
{
	display: none;
}
.fixed-header
{
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
}
//END CONTENT
@import "footer"; 
@import "media"; 